workDir = params.workdir

process {
  withLabel: sortseq { conda = "$baseDir/envs/python3.yml" }
  withLabel: ncbi_meta { conda = "$baseDir/envs/python3.yml" }
  withLabel: remove {conda = "$baseDir/envs/mmseqs.yml"}
  withLabel: concat_goi { conda = "$baseDir/envs/python3.yml" }
  withLabel: cdhit {conda = "$baseDir/envs/cdhit.yml"}
  withLabel: mafft {conda = "$baseDir/envs/mafft.yml"}
  withLabel: fasttree {conda = "$baseDir/envs/fasttree.yml"}
  withLabel: nwdisplay { conda = "$baseDir/envs/nwutils.yml"}
  withLabel: hdbscan {conda = "$baseDir/envs/hdbscan.yml"}
  withLabel: sumaclust {conda = "$baseDir/envs/sumaclust.yml"}
  withLabel: vclust { conda = "$baseDir/envs/vsearch.yml" }
  withLabel: mmseqs { conda = "$baseDir/envs/mmseqs.yml" }
  withLabel: revComp { conda = "$baseDir/envs/python3.yml" }
  withLabel: evaluate { conda = "$baseDir/envs/python3.yml" }
  withLabel: evalMerger { conda = "$baseDir/envs/python3.yml" }
  withLabel: update_ncbi { conda = "$baseDir/envs/python3.yml" }
  withLabel: generate_html { conda = "$baseDir/envs/python3.yml" }
  withLabel: generate_html { errorStrategy = 'ignore' }
}

process {
  withLabel:sortseq {cpus = 1}
  withLabel:remove {cpus = params.cores}
  withlabel:concat_goi {cpus = 1}
  withLabel:cdhit {cpus = params.cores}
  withLabel:rename {cpus = 1}
  withLabel:mafft {cpus = params.cores}
  withLabel:fasttree {cpus = params.cores}
  withLabel:nwdisplay {cpus = 1}
  withLabel:hdbscan {cpus = params.cores}
  withLabel:sumaclust {cpus = params.cores}
  withLabel:vclust {cpus = params.cores * 2}
  withLabel:mmseqs {cpus = params.cores}
  withLabel:revComp {cpus = 1}
  withLabel:evaluate {cpus = params.max_cores}
  withLabel:evalMerger {cpus = 1}
  withLabel:ncbi_meta { cpus = 1 }
  withLabel:update_ncbi { cpus = 1 }
}